<nav class="navbar navbar-dark justify-content-between navbar-expand-lg">
    <a class="navbar-brand" routerLink="">LOJA VIRTUAL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/products/sell">Vender</a>
        </li>
      </ul>
    </div>
  </nav>